apiVersion: v1
kind: Service
metadata:
  name: hello-service
  namespace: jzangarinim-dev
spec:
  selector:
    app: hello-service
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: http
