name: CI

on:
  pull_request:
    branches:
      - main
      - dev

jobs:
  flake8-lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Flake8
        run: |
          python3 -m pip install --upgrade pip
          pip install flake8

      - name: Run Flake8
        run: python3 -m flake8 .

  tests:
    name: Run tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r ./hello-service/requirements.txt

      - name: Run unit tests
        run: |
          cd hello-service
          export PYTHONPATH=.
          pytest ./test/test_unit.py

      - name: Run E2E tests
        run: |
          cd hello-service
          export PYTHONPATH=.
          pytest ./test/test_integration.py
